<header class="head "  id="headLink">
    
        <div class="logo">
            <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="44" height="29" stroke="#4BF2B5"/>
            <path d="M10.08 18V10.128H14.616V10.968H11.076V13.632H14.076V14.472H11.076V18H10.08ZM30.412 18V10.128H32.872C33.272 10.128 33.64 10.168 33.976 10.248C34.32 10.32 34.612 10.444 34.852 10.62C35.1 10.796 35.292 11.024 35.428 11.304C35.564 11.584 35.632 11.928 35.632 12.336C35.632 12.952 35.472 13.444 35.152 13.812C34.832 14.18 34.4 14.432 33.856 14.568L35.86 18H34.732L32.836 14.676H31.408V18H30.412ZM31.408 13.86H32.728C33.344 13.86 33.816 13.736 34.144 13.488C34.472 13.232 34.636 12.848 34.636 12.336C34.636 11.816 34.472 11.452 34.144 11.244C33.816 11.036 33.344 10.932 32.728 10.932H31.408V13.86Z" fill="#D9D3C1"/>
            <path d="M21.7744 4.28571V25.7143" stroke="#4BF2B5" stroke-linecap="square"/>
            </svg>
        </div>

        <button class="burger-menu">
          <svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 22L42 22" stroke="#4BF2B5" stroke-width="3" stroke-linecap="square"/>
                <path d="M2 11.7351L42 11.7351" stroke="#D9D3C1" stroke-width="3" stroke-linecap="square"/>
                <path d="M21.9937 2H41.9937" stroke="#4BF2B5" stroke-width="3" stroke-linecap="square"/>
          </svg>

        </button>
   
    <section class="main-modal">
        <button class="main-modal__close">X</button>

        <div class="main-modal__block"></div>
        <div class="main-modal__block"></div>
        <div class="main-modal__block"></div>
        <div class="main-modal__block"></div>

        <nav class="main-modal__content">
            <a href="#headLink" class="main-modal__content_link">Introduction</a>
            <a href="#authorLink" class="main-modal__content_link">About</a>
            <a href="#timelineLink" class="main-modal__content_link">Workflow</a>
            <a href="#portfolioLink" class="main-modal__content_link">Portfolio</a>
            <a href="#footerLink" class="main-modal__content_link">Contacts</a>
        </nav>
        

    </section>
</header>
<section class="greetings flex-row " >
    <nav class="nav-pages flex-center">
        <div class="refs-box flex-center">
            <a href="#footerLink" class="refs-box__link page-link" data-tooltip="Contacts">
            </a>
            <a href="#portfolioLink" class="refs-box__link page-link" data-tooltip="Portfolio">
            </a>
            <a href="#timelineLink" class="refs-box__link page-link" data-tooltip="Timeline">
            </a>
            <a href="#authorLink" class="refs-box__link page-link" data-tooltip="Author">
            </a>
        </div>
        <div class="refs-decor__dotted"></div>
        <div class="refs-decor flex-center">
            <a href="#headLink" class="refs-decor__active page-link"  data-tooltip="Introduction">
            </a>
        </div>
        <div class="pages flex-center">
            <span class="pages__name">01</span>
            <span class="pages__name">/</span>
            <span class="pages__name">05</span>
        </div>
    </nav>
    <div class="intro-wrapp">

        <div class="sqr-content">
  <div class="sqr-box">
    <div class="back side"></div>
    <div class="left side"></div>
    <div class="right side"></div>
    <div class="top side"></div>
    <div class="bottom side"></div>
    <div class="front side"></div>
  </div>
</div>
    <div class="crystal-box">
        <div class="tridiv">
  <div class="scene">
    <div class="shape pyramid-1 pyr-1">
      <div class="face-wrapper ft">
        <div class="face">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="face-wrapper bk">
        <div class="face">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="face-wrapper lt">
        <div class="face">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="face-wrapper rt">
        <div class="face">
          <div class="photon-shader" ></div>
        </div>
      </div>
      <div class="face bm">
        <div class="photon-shader"></div>
      </div>
    </div>
    <div class="shape pyramid-2 pyr-2">
      <div class="face-wrapper ft">
        <div class="face">
          <div class="photon-shader" ></div>
        </div>
      </div>
      <div class="face-wrapper bk">
        <div class="face">
          <div class="photon-shader" ></div>
        </div>
      </div>
      <div class="face-wrapper lt">
        <div class="face">
          <div class="photon-shader" ></div>
        </div>
      </div>
      <div class="face-wrapper rt">
        <div class="face">
          <div class="photon-shader"></div>
        </div>
      </div>
      <div class="face bm">
        <div class="photon-shader"></div>
      </div>
    </div>
  </div>
</div>
    </div>

        <div class="intro">
            <span class="page-index mobile-index">
                <span class="mobile-index_line"></span>
                <span class="mobile-index_line"></span>
                <span class="mobile-index_line"></span>
                <span class="mobile-index_line"></span>
                01 
            </span>
            <h1 class="intro__title">I <br> AM</h1>
             <p class="intro__subtitle"></p> 
            
            <div class="scroll ">
                <div class="scroll__sqr sqr-anim flex-center">
                    <svg width="22" height="13" viewBox="0 0 22 13" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7869 0.502926C20.1201 0.165691 20.6669 0.165691 21.0001 0.502926C21.3333 0.84016 21.3333 1.38763 21.0001 1.724L11.6536 12.0049C11.4742 12.1843 11.2349 12.2615 11.0043 12.2486C10.7651 12.2615 10.5258 12.1843 10.3464 12.0049L0.999895 1.724C0.6667 1.38763 0.6667 0.84016 0.999895 0.502926C1.34163 0.165691 1.87987 0.165691 2.21307 0.502926L11.0043 10.1626L19.7869 0.502926Z" fill="#fff"/>
                    </svg>
                </div>
                <div class="scroll__dash flex-center">
                    <svg width="3" height="220" viewBox="0 0 3 267" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 264.672V2" stroke="#4BF2B5" stroke-width="3" stroke-linecap="square" stroke-dasharray="3 5 3 5"/>
                    </svg>
                </div>
                <div class="scroll__line line-anim"></div>
            </div>
        </div>
    </div>
</section>