<article class="timeline">
    <div class="workflow-wrapp wow fadeInDown">
        
        <div class="workflow-rect flex-center">
            <svg width="79" height="8" viewBox="0 0 79 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M78.0941 4.35355C78.2893 4.15829 78.2893 3.84171 78.0941 3.64645L74.9121 0.464466C74.7168 0.269204 74.4002 0.269204 74.205 0.464466C74.0097 0.659728 74.0097 0.976311 74.205 1.17157L77.0334 4L74.205 6.82843C74.0097 7.02369 74.0097 7.34027 74.205 7.53553C74.4002 7.7308 74.7168 7.7308 74.9121 7.53553L78.0941 4.35355ZM0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM77.7405 3.5H1V4.5H77.7405V3.5Z" fill="#4BF2B5"/>
            </svg>
        </div>
        <div class="workflow-info flex-row">
            <p class="workflow-info__p">
                I understand the challenges 
                of working remotely. Here’s 
                a couple of things <q class="workflow-info__q">I’m good at:</q>
            </p>
            <div class="workflow-info__title-box title-box">
                <span class="page-index index__two mobile-index  mobile-index_three">
                    <span class="mobile-index_line"></span>
                    <span class="mobile-index_line"></span>
                    <span class="mobile-index_line"></span>
                    <span class="mobile-index_line"></span>
                    03
                </span>
                <h2 class="title-box__title">
                    WORKFLOW 
                    <span>
                        <svg width="4" height="44" viewBox="0 0 4 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 41.5032V2.49695" stroke="#4BF2B5" stroke-width="3" stroke-linecap="square"/>
                        </svg>
                    </span> 
                    STEPS
                </h2>
                <p class="title-box__subtitle">
                    Meeting deadlines isn’t good enought, beating the deadlines is my expectaton.
                </p>

            </div>
        </div>
    </div>

    <div class="steps-wrapp wow fadeIn delay-2s" data-wow-delay="1s">
        {{> timeline__steps }}
        {{> timeline__steps_mobile }}
    </div>
    <section class="skills flex-center">
        <h2 class="skills__title">My skills</h2>
        <button class="skills__butt">X</button>
        <div class="skills__box">
            <article class="skill">
                <h3 class="skill__name skill__name_html">HTML5</h3>
                <p class="skill__descript">Valid and semantic markup, BEM naming.</p>
            </article>
            <article class="skill">
                <h3 class="skill__name skill__name_css">CSS3</h3>
                <p class="skill__descript">Adaptive and cross-browser layout, Flex Box, Grid CSS.</p>
            </article>
            <article class="skill">
                <h3 class="skill__name skill__name_js">JavaScript</h3>
                <p class="skill__descript">ES5/ES6+, Ajax, trying to write clean, easily maintained code.</p>
            </article>
            <article class="skill">
                <h3 class="skill__name skill__name_git">Git</h3>
                <p class="skill__descript">I use git as a version control system for my projects.</p>
            </article>
            <article class="skill">
                <h3 class="skill__name skill__name_gulp">Gulp</h3>
                <p class="skill__descript">Convenient project build tool.</p>
            </article>
            <article class="skill">
                <h3 class="skill__name skill__name_sass">SASS</h3>
                <p class="skill__descript">Sass is a stylesheet language that’s compiled to CSS.</p>
            </article>
            
            
        </div>
    </section>
</article>
