<form  class="postcard" action="https://formcarry.com/s/xGoJ0MbDvPM" method="POST" accept-charset="UTF-8">
  <div class="form-row">
    <label for="name" class="form-row__lb">Your name</label>
    <input type="text" name='name' id="name" class="form-row__inp" required >
  </div>
  <div class="form-row">
    <label for="email" class="form-row__lb">Your email</label>
    <input type="email" name='email' id="email" class="form-row__inp" required >
  </div>
  <div class="form-row">
    <label for="message" class="form-row__lb">Your message</label>
    <textarea rows="5" name='text' id="message" class="form-row__inp" required ></textarea>
  </div>
  <div class="form-row">
    <input type="submit" value="Send" class="form-row__submit">
    <input type="reset" value="Reset" class="form-row__reset">
  </div>
</form>