<div class="footer-info flex-row wow fadeInDown"  id="footerLink">

<div class="dodecahedron ">
    <div class="view">
    <div class="plane main ">
      <div class="sqr-d"></div>
      <div class="sqr-d"></div>
      <div class="sqr-d"></div>
      <div class="sqr-d"></div>
      <div class="sqr-d"></div>
      <div class="sqr-d"></div>
    </div>
  </div>
 </div>

    <div class="footer-greetings">
        <span class="page-index index__two mobile-index mobile-index_five ">
            <span class="mobile-index_line"></span>
            <span class="mobile-index_line"></span>
            <span class="mobile-index_line"></span>
            <span class="mobile-index_line"></span>
            05
        </span>
        <h2 class="footer-greetings__title">SAY<br>HELLO</h2>
        <p class="footer-greetings__text">
            Feel free to follow me on <br> social media.
        </p>
        <div class="footer-greetings__socials flex-row">
            <a href="https://www.linkedin.com/in/fristyr/" target="_blank" class="footer-greetings__socials-link">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.71484 12.2018C7.71484 10.2729 7.65237 8.6602 7.58922 7.26815H11.7124L11.9325 9.41912H12.0261C12.6501 8.40653 14.1811 6.92101 16.7428 6.92101C19.8659 6.92101 22.209 9.03966 22.209 13.5946V22.7353H17.4611V14.1638C17.4611 12.1716 16.7726 10.8112 15.0549 10.8112C13.7432 10.8112 12.9638 11.7282 12.6195 12.6136C12.4939 12.9298 12.4627 13.3718 12.4627 13.8159V22.7353H7.71484V12.2018ZM0.125619 7.26815H4.87348V22.7339H0.125619V7.26815ZM5.02894 2.9662C5.02894 4.29361 4.06007 5.36944 2.46728 5.36944C0.968172 5.36944 0 4.29361 0 2.9662C0 1.60647 1.00079 0.562256 2.53043 0.562256C4.06007 0.562256 4.99771 1.60647 5.02894 2.9662V2.9662Z" fill="#999999"/>
                </svg>
            </a>
            <a href="https://www.facebook.com/fristyrr" target="_blank" class="footer-greetings__socials-link">
                <svg width="11" height="24" viewBox="0 0 11 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.52688 23.0487H3.36547V11.8055H0.589355V7.9308L3.36547 7.92939L3.36131 5.64701C3.36131 2.48555 4.20733 0.562256 7.885 0.562256H10.9471V4.43766H9.03362C7.60114 4.43766 7.53243 4.97945 7.53243 5.98993L7.52688 7.92939H10.9686L10.5633 11.8041L7.52965 11.8055L7.52688 23.0487Z" fill="#999999"/>
                </svg>
            </a>
            <a href="https://github.com/fristyr" target="_blank" class="footer-greetings__socials-link">
                <svg width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4861 30.4268C10.4861 30.7425 10.376 31.0061 10.1556 31.2166C13.7903 31.2885 20.953 31.3892 20.5263 31.2166C20.0995 31.0441 20.1147 30.6177 20.1756 30.426V24.8691C20.1756 23.166 19.7349 21.9192 18.8536 21.1293C19.8198 21.024 20.6885 20.8655 21.4601 20.6546C22.2312 20.4437 23.0284 20.1015 23.8507 19.6273C24.6728 19.1535 25.3595 18.5697 25.911 17.8758C26.4618 17.1819 26.9108 16.2607 27.2582 15.1102C27.6051 13.96 27.7795 12.639 27.7795 11.1466C27.7795 9.02204 27.1094 7.21328 25.7702 5.72066C26.3977 4.12305 26.3298 2.33219 25.5672 0.34796C25.0922 0.189749 24.4052 0.286429 23.5066 0.637444C22.6086 0.988643 21.8283 1.37499 21.1675 1.79658L20.2011 2.42841C18.6241 1.97204 16.9963 1.74381 15.3181 1.74381C13.6398 1.74381 12.0124 1.97204 10.4354 2.42841C10.1641 2.2356 9.804 1.99787 9.35456 1.71733C8.90511 1.43671 8.19754 1.09824 7.23113 0.703126C6.2649 0.308199 5.53577 0.189473 5.04411 0.347684C4.29805 2.33182 4.23882 4.12278 4.86623 5.72038C3.52689 7.213 2.85708 9.02131 2.85708 11.1463C2.85708 12.6387 3.03086 13.9555 3.37832 15.0971C3.7256 16.2381 4.17077 17.1602 4.71321 17.8626C5.25556 18.5647 5.93792 19.1531 6.76048 19.627C7.5826 20.1016 8.37951 20.4438 9.15067 20.6547C9.92229 20.8653 10.791 21.0237 11.7572 21.1289C11.0793 21.7609 10.6639 22.6651 10.5113 23.842C10.1551 24.0175 9.77363 24.1495 9.36703 24.2373C8.95998 24.3246 8.47686 24.3686 7.9175 24.3686C7.35814 24.3686 6.80279 24.1801 6.25198 23.8025C5.70073 23.4249 5.23071 22.8762 4.84058 22.1561C4.51841 21.5945 4.10736 21.138 3.60732 20.7869C3.10701 20.4355 2.68758 20.2253 2.34849 20.1549L1.84008 20.0762C1.48389 20.0762 1.23841 20.1147 1.10258 20.1939C0.966748 20.2732 0.924528 20.3742 0.975476 20.4973C1.02634 20.6204 1.10249 20.7433 1.20421 20.8661C1.30601 20.9888 1.41611 21.0947 1.53475 21.1824L1.7128 21.3144C2.08574 21.49 2.45439 21.8234 2.81896 22.3151C3.18352 22.8065 3.45038 23.2547 3.61988 23.6582L3.87417 24.2643C4.09462 24.9311 4.46755 25.4712 4.99289 25.8839C5.51849 26.2965 6.08631 26.5599 6.6968 26.6735C7.30701 26.788 7.89639 26.8496 8.46413 26.8579C9.03212 26.8663 9.50259 26.8364 9.87553 26.7656L10.4605 26.6608C10.4605 27.3275 10.4645 28.1089 10.4733 29.0045C10.4817 29.9002 10.4861 30.3741 10.4861 30.4268Z" fill="#999999"/>
                </svg>
            </a>
        </div>
        </div>
        <div class="footer-contact flex-column">
            <p class="footer-contact__text">
                I am always open to making new contacts. If you have a question, I’ll answer.
            </p>
            <button class="footer-contact__btn">Contact me</button>
            <p class="footer-contact__location flex-row">
                <button class="footer-contact__location_btn">
                <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7685 5.1499C13.6632 5.1499 16.0196 7.46095 16.0196 10.2999C16.0196 13.1394 13.6632 15.4499 10.7685 15.4499C7.87391 15.4499 5.5175 13.1394 5.5175 10.2999C5.5175 7.46095 7.87391 5.1499 10.7685 5.1499V5.1499ZM10.7687 25.7499C17.1684 22.3445 21.2708 15.9907 21.2708 10.3C21.2708 4.61567 16.5711 0 10.7687 0C4.96629 0 0.266602 4.61567 0.266602 10.3C0.266602 15.9907 4.36898 22.3445 10.7687 25.7499V25.7499Z" fill="#D9D3C1"/>
                </svg>
                </button>
                live in Netherlands/Amsterdam
            </p>
        </div>

<div class="dodecahedron_circle ">
    <div class="view">
    <div class="plane main">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>
</div>

</div>
<div class="footer-bottom wow fadeInUp">
<a href="#headLink" class="page-up">
    <svg width="42" height="44" viewBox="0 0 42 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="41.5" y="43.5" width="41" height="43" transform="rotate(-180 41.5 43.5)" fill="#333333" stroke="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2131 27.4971C11.8799 27.8343 11.3331 27.8343 10.9999 27.4971C10.6667 27.1598 10.6667 26.6124 10.9999 26.276L20.3464 15.9951C20.5258 15.8157 20.7651 15.7385 20.9957 15.7514C21.2349 15.7385 21.4742 15.8157 21.6536 15.9951L31.0001 26.276C31.3333 26.6124 31.3333 27.1598 31.0001 27.4971C30.6584 27.8343 30.1201 27.8343 29.7869 27.4971L20.9957 17.8374L12.2131 27.4971Z" fill="#FFFFFE"/>
    </svg>
</a>
<cite class="developer-info">
    <span>©2016 - Hand designed by Kostiantyn Hryshyn.</span> <br>
    <span>©2019 - Coded by fristyr.</span> <br>
    <span class="developer-info_hero-school"> 
        Final project in
        <a href="https://webheroschool.ru/" class="developer-info__hero-logo"></a>
    </span>
    

</cite>
</div>
