<section class="git">

    <div class="git__intro git-about">
        <h2 class="git-about__title">Git Repository</h2>
        <p  class="git-about__text">Here’s my repository from GitHub with my projects.</p>
    </div>


    <div class="git__repos">
      <div class="repos-wrapp">
          
      </div>


    </div>
    <button class="git__close-btn">X</button>
</section>