<div class="portfolio-wrapper">
  <div class="left-box wow fadeInLeft">
        <button class="portfolio-btn portfolio-btn_left"> <span>&larr;</span> </button>
        <div class="work-info">
            <div class="work-info__text" >
                <span class="page-index index__two mobile-index mobile-index_four ">
                        <span class="mobile-index_line"></span>
                        <span class="mobile-index_line"></span>
                        <span class="mobile-index_line"></span>
                        <span class="mobile-index_line"></span>
                        04
                </span>
                <h2 class="work-info__text_title wow fadeInDown" data-wow-delay="1s">WHAT<br>I’VE DONE</h2>
                <span class="work-info__text_pages"> <span>01</span>/04</span>
            </div>
        </div>
  </div>
  <div class="right-box wow fadeInRight">
        <button class="portfolio-btn portfolio-btn_right"><span>&rarr;</span></button>
        <div class="work-box">
            <div class="work">
                    <img src="img/mouse.jpg" alt="" class="work__img">
                    <div class="work__info " >
                        <a href="https://webheroschool.github.io/fristyr-js-game/" target="_blank" class="work__info-title wow fadeInDown" data-wow-delay="1s">Catch mice</a>
                        <cite class="work__info-cite">Try to catch the mouse, simple js game.</cite>
                    </div>
            </div>
        </div>
        <button class="git-butt">Git repositories</button>
</div>
</div>
