.git {
    display: none;
    position: absolute;
    min-height: 80%;
    top: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: var( --color-3);
    box-shadow: 0px 0px 30px#26BF87;
    border-radius: 15px;
    max-width: 1500px;
    width: 90%;
    z-index: 20;
    transition: all 0.5s ;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        width: 75%;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @media screen and (max-width: 490px) {
        width: 95%;
    }
}

.git_active {
    display: flex;
    
}


.git::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--color-1);
    box-shadow: 0px 0px 12px var(--color-1);
    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.git__intro,
.git__repos {
    width: 50%;
    @media screen and (max-width: 1000px) {
        width: auto;
    }
}

.git__repos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    @media screen and (max-width: 1000px) {
        margin-bottom: 3rem;
    }
}

.git-about__title {
    font-family: "Dosis" , sans-serif;
    color: var(--color-5);
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 1rem;
    @media screen and (max-width: 1000px) {
        padding-top: 1rem;
    }
    @media screen and (max-width: 800px) {
        padding-top: 3rem;
        padding-bottom: 3rem; 
    }
}

.git-about__text {
    font-family: "Muli" , sans-serif;
    color: var(--color-1);
    font-size: 2.5em;
    @media screen and (max-width: 1280px) {
        font-size: 2em;
    }
    @media screen and (max-width: 1000px) {
        display: none;
    }

}

.git-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    @media screen and (max-width: 1000px) {
       padding: 0;
       text-align: center;
    }
    
}

.repo {
    max-width: 450px;
    width: 100%;
}

.repos-wrapp {
    max-height: 480px;
    overflow-y: scroll;
    padding-right: 1rem;
}

.repo__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.repo:not(:last-child) {
    margin-bottom: 2rem;
    @media screen and (max-width: 1000px) {
        margin-bottom: 1.5rem;
     }
}



.repo__name {
    font-family: "Muli" , sans-serif;
    color: var(--color-1);
    font-size: 2.3em;
    transition: all 0.3s;
    display: block;
    padding-bottom: 1.2rem;
    @media screen and (max-width: 1280px) {
        font-size: 2em;
    }
    @media screen and (max-width: 600px) {
        font-size: 1.5em;
    }
    @media screen and (max-width: 490px) {
        font-size: 1.2em;
    }
    
}

.repo__name:hover {
  text-shadow: 0px 0px 12px var(--color-1);

}

.repo__technology,
.repo__update {
    font-family: "Dosis" , sans-serif;
    color: var(--color-5);
    font-size: 1.2em;
    @media screen and (max-width: 1000px) {
        font-size: 1em;
    }
    @media screen and (max-width: 600px) {
        font-size: 0.8em;
    }
    
    
}

.repo__technology {
    position: relative;
    margin-right: 2rem;
    padding-bottom: 1rem;
    
}

.repo__technology_fork::before,
.repo__technology_stars::before {
    content: '';
    position: absolute;
    left: -1.3rem;
}

.repo__technology_fork::before {
    width: 11px;
    height: 16px;
    background: url(../img/fork.svg);
}
.repo__technology_stars::before {
    width: 17px;
    height: 17px;
    background: url(../img/star.svg);
}

.repos-pagination {
    font-family: "Dosis" , sans-serif;
    font-size: 1.5em;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.repos-pagination,
.repos-pagination__link {
    color: var(--color-1);
    transition: all 0.3s;
}

.repos-pagination__link:hover {
    color: var(--color-5);
}

.repos-pagination__link,
.repos-pagination__dots {
    padding-right: 0.8rem;
}

.git__close-btn {
    position: absolute;
    right: 2%;
    top: 4%;
    background-color: transparent;
    border: 1px solid var(--color-1);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: var(--color-5);
    cursor: pointer;
    @media screen and (max-width: 800px) {
        right: 5%;
        top: 5%;
    }
}

/* width */
.repos-wrapp::-webkit-scrollbar {
    width: 5px;

  }
  
  /* Track */
  .repos-wrapp::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-5); 
    border-radius: 10px;
  }
  
  /* Handle */
  .repos-wrapp::-webkit-scrollbar-thumb {
    background: var(--color-1); 
    border-radius: 10px;
  }
