<section class="author wow fadeInDown">
    <div class="brief-box flex-row">
        <div class="brief-box__info author-box flex-center">
            <picture class="author-box__img">
                <source srcset="img/person_web-p.webp">
                <source srcset="img/person_mobile.png" media="(max-width: 860px)">
                <img src="img/person.png" alt="Fristyr" >
            </picture>
            <div class="author-box__text">
                <span class="page-index index__two mobile-index  mobile-index_two">
                    <span class="mobile-index_line"></span>
                    <span class="mobile-index_line"></span>
                    <span class="mobile-index_line"></span>
                    <span class="mobile-index_line"></span>
                    02
                </span>
                <h2 class="author-box__title">
                    SHORT <br> BRIEF <br> ABOUT
                </h2>
                <cite class="author-box__cite">
                    I have no special talent. I am only passionately curious.
                </cite>
            </div>
            
        </div>
        <p class="brief-box__text">
            Hey, I'm a junior frontend-developer from <b>Netherlands (Amsterdam Area)</b> I can help you build your next product.
            I design, build, operate & sometimes rescue full-stack web applications.
            Have a project you'd like to discuss? <a href="#footerLink" class="brief-box__text_contacts">Contact me!</a>
        </p>
    </div>
</section>